<div>
    <h2 id="page-heading">
        <span>Vendas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vendas" [routerLink]="['/vendas/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Vendas
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="vendas?.length === 0">
        <span>No vendas found</span>
    </div>
    <div class="table-responsive" *ngIf="vendas?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="countryName"><span>Country Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vendedor.id"><span>Vendedor</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vendas of vendas ;trackBy: trackId">
                <td><a [routerLink]="['/vendas', vendas.id, 'view' ]">{{vendas.id}}</a></td>
                <td>{{vendas.countryName}}</td>
                <td>
                    <div *ngIf="vendas.vendedor">
                        <a [routerLink]="['../vendedor', vendas.vendedor?.id, 'view' ]" >{{vendas.vendedor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vendas', vendas.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vendas', vendas.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vendas', { outlets: { popup: vendas.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="vendas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
